<ion-header>
    <ion-toolbar>
        <ion-button  slot="start" fill="clear">
        <ion-button color="funaprimary" class="backbtn" routerLink="/home" routerDirection="back"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content >
  <div class="ion-padding container">
    <h1>Login</h1>
      <div class="form-container">

            <ion-input color="funaprimary" class="custom" label="Usar Name" label-placement="floating" fill="solid" placeholder="Usar Name"></ion-input>

            <ion-input  color="funaprimary" class="custom" label="Password" label-placement="floating" fill="solid" placeholder="Password"></ion-input>

      <ion-button color="funaprimary" class="Loginbtn" expand="block">Log In</ion-button>

        <div class="sign-up">
          Don't have an account? <ion-button color="dark" fill="clear" routerLink="/signup" routerDirection="forward">Sing up</ion-button>
        </div>
      </div>
  </div>
</ion-content>
