<ion-header collapse="fade">  
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="auto"><ion-searchbar show-clear-button="always" value="Always Show"></ion-searchbar></ion-col>
        <ion-col>
          <ion-button color="funaprimary" class="filter" id="open-action-sheet" size="auto" id="present-alert">
            <ion-icon class="iconfilter" name="filter-circle"></ion-icon>
          </ion-button>
          <ion-alert
            trigger="present-alert"
            header="Filter by"
            [buttons]="alertButtons"
            [inputs]="alertInputs"
            ></ion-alert>
        </ion-col>
   
      </ion-row>
    </ion-grid>        
    

    <ion-segment [scrollable]="true" value="Post">
      <ion-segment-button value="Post">
        Post
      </ion-segment-button>
      <ion-segment-button value="People">
        People
      </ion-segment-button>
    </ion-segment>
        
  </ion-toolbar>   
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content [scrollY]="false">
    <div id="container" class="ion-content-scroll-host ">
        <ion-list>
            <ion-item *ngFor="let item of items">
                <ion-row class="wrapper">
                    <ion-col size="2">
                        <ion-avatar class="postAvatar" >
                            <ion-img [src]="item.img" ></ion-img>
                        </ion-avatar>
                    </ion-col>
                    <ion-col size="10">
                        <ion-row class="tweet-info">
                        <ion-col size="20">
                            <span class="user">{{item.user}}</span>
                            <span class="handle">@{{item.username}}</span>
                            <ion-button class="Followbn" fill="solid" color="funaprimary">
                              Follow 
                            </ion-button>
                        </ion-col>

                        </ion-row>

                    </ion-col>

                </ion-row>
            </ion-item>
        </ion-list>
    </div>
  </ion-content>
</ion-content>